src/generated/robottoy.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="toyRobot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="world">
                    <xs:complexType>
                        <xs:attribute type="xs:int" name="width"/>
                        <xs:attribute type="xs:int" name="length"/>
                        <xs:attribute type="xs:string" name="clazz"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="compassFactory">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="initialPosition" />
                        <xs:attribute type="xs:string" name="clazz" />
                    </xs:complexType>
                </xs:element>

                <xs:element name="ReaPerspectiveCompassFactory">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="clazz" />
                    </xs:complexType>
                </xs:element>

                <!-- creates the physical object -->
                <xs:element name="ReaPhysicalObjectFactory">
                        <xs:complexType>
                            <xs:attribute type="xs:string" name="clazz" />
                        </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>