src/generated/robottoy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="toyRobot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="world">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="width"/>
                            <xs:element type="xs:int" name="length"/>
                            <xs:element type="xs:string" name="clazz"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="compassFactory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="initialPosition" />
                            <xs:element type="xs:string" name="clazz" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ReaPerspectiveFactory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="clazz" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- creates the physical object -->
                <xs:element name="ReaPhysicalObjectFactory">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" name="clazz" />
                            </xs:sequence>
                        </xs:complexType>
                </xs:element>

                <xs:element name="ReaGlobalInitiator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="clazz" />
                            <xs:element name="action" maxOccurs="unbounded" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clazz" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ReaLocalInitiator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="clazz" />
                            <xs:element name="action" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clazz" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ReaWorldInitiator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="clazz" />
                            <xs:element name="action" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clazz" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ReaRobotClients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="client" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clazz" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>